---
// src/pages/posts/art/index.astro

// Tailwind CSS
import '../../../styles/global.css'

// Layout import
import MainLayout from '../../../layouts/MainLayout.astro';

// Components import
import PostCard from '../../../components/PostCard.astro';

---

<MainLayout title="Art">
    <section class="max-w-6xl mx-auto px-4 py-10">
        <h2 class="text-2xl font-bold mb-6 text-left dark:text-white">Art</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
            <PostCard
            title="The Beauty of Nature"
            date="2025-05-01"
            topic="Nature"
            image="/post-covers/test.png"
            link="/posts/art/the-beauty-of-nature"
            />
            <PostCard
            title="The Logic of Nature"
            date="2025-04-20"
            topic="Nature"
            image="/post-covers/test.png"
            link="/posts/art/the-logic-of-nature"	
            />
        </div>
    </section>