/* src/styles/global.css */

@import "tailwindcss";

@layer base {
  :root {
    @theme {
      --color-primary: #1E3A8A; /* Dark blue */
      --color-secondary: #EF4444; /* Red */
      --color-black: #000000;
      --color-white: #FFFFFF;
    }
  }
}

.skeleton {
  background: #e5e7eb; /* Light gray */
  border-radius: 0.5rem;
  animation: pulse 1.5s infinite;
}
@keyframes pulse {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}