---
// src/components/Footer.astro

---

<footer>
    <small>
        Copyright &copy; <span id="copyright"></span> | All rights reserved.
    </small>
</footer>

<!-- JS in the client. --> 
<script>
    const copyrightElement = document.querySelector("#copyright");
    if (copyrightElement) {
        copyrightElement.textContent = new Date().getFullYear().toString();
    }
</script>
