---
// src/components/Header.astro


---

<header class="bg-black text-white py-4">
  <div class="max-w-5xl mx-auto flex flex-col md:flex-row justify-between items-center px-4 gap-4">
    <div>
      <img src="/logo.png" alt="Rhyan’s Logo" class="h-10" />
    </div>
    <nav class="flex flex-col md:flex-row gap-4 md:gap-6">
      <a href="/" class="hover:text-secondary">Home</a>
      <a href="/posts" class="hover:text-secondary">Posts</a>
      <a href="/about" class="hover:text-secondary">About Me</a>
    </nav>
    <div class="flex gap-4">
      <a href="https://x.com/yourprofile"><img src="/x-icon.png" alt="X" class="h-6" /></a>
      <a href="https://linkedin.com/in/yourprofile"><img src="/linkedin-icon.png" alt="LinkedIn" class="h-6" /></a>
    </div>
  </div>
</header>