---
import { Content } from '../../../../../components/aristotle.md';
import MainLayout from "../../../../../layouts/MainLayout.astro";
import "../../../../../styles/global.css";
---

<MainLayout>
    <div class="markdown-content">
        <Content />
    </div>
</MainLayout>
