---
// Tailwind CSS import.
import './src/styles/global.css'

// Import components.
import MainHead from "./MainHead.astro"
import Footer from "../components/Footer.astro"

interface Props {
    title?: string;
    description?: string;
}

const { title = "Default Title", description = "Default Description" } = 
Astro.props as Props;
---

<html lang="en">
	<MainHead {title} {description} />
	<body>
       <slot>Default Text</slot>
       <Footer /> 
    </body>
</html>