---
// src/layouts/MainLayout.astro

// Tailwind CSS import.
import './src/styles/global.css'

// Import components.
import Footer from "../components/Footer.astro"

interface Props {
    title?: string;
    description?: string;
}

const { title = "Default Title", description = "Default Description" } = 
Astro.props as Props;
---

<html lang="en">
	<body>
       <slot>Default Text</slot>
       <Footer /> 
    </body>
</html>