---
// src/layouts/MainLayout.astro

// Tailwind CSS import.
import './src/styles/global.css'

// Import components.
import Footer from "../components/Footer.astro"
import Header from "../components/Header.astro"

interface Props {
    title?: string;
    description?: string;
}

const { title = "Default Title", description = "Default Description" } = 
Astro.props as Props;
---


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title} | Rhyan’s Blog</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" />
  </head>
  <body class="bg-black text-white font-inter">
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>